<div class="my-profile-data-summay">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <ul class="SchoollDetails">
            <li>
              <p>
                School :
                <span class="value"
                  ><a href="#">Abhoynagar English Medium School Pry</a></span
                >
              </p>
            </li>
            <li>
              <p>Category : <span class="value">1 - Primary</span></p>
            </li>
            <li class="d-flex">
              <div>
                <p>UDISE+ Code : <span class="value">16020801111</span></p>
                <p><span class="value"> </span></p>
              </div>
             
            </li>
            <li></li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="">
            <ul class="data-capture">
              <p class="d-inline-block">Data Capture Format :</p>
  
              <li class="active">
                <a href="#"> 1.1 to 1.25</a>
              </li>
  
              <li>
                <a href="#"> 1.26 to 1.36</a>
              </li>
  
             
              <li class="class6">
                <a href="#">1.55.1 to 1.55.20</a>
              </li>
  
              <li class="class6">
                <a href="#"> 1.56 to 1.59</a>
              </li>
  
              <li>
                <a href="#">2.1 to 2.6</a>
              </li>
  
              <!-- <li>
                <a href="#"> 2.7 to 2.19</a>
              </li>
  
              <li>
                <a href="#">2.20 to 2.23</a>
              </li>
  
              <li>
                <a href="#">2.24 to 2.28</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-12  mt-2">
          <div class="d-flex justify-content-between">
            <div class="  ">
              <button type="button" class="btn-dashboard">Back to Dashboard</button>
            </div>
            <button type="button" class="btn-dashboard">State Dashboard</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="profileData-content px-2">
    <div class="container-fluid">
      <p class="note">
        <span class="round-button me-2"> 1.22 to 1.31</span> Langauge & Others
      </p>
  
      <div class="card">
        <form action="">
          <div class="row">
            <div class="col-md-6 border-end">
              <table class="w-100">
                <tbody>
                  <!-- ******************************************************** -->
                   <!-- 1.26 to 1.36   start   -->
                   <tr>
                    <td >
                      <div class="d-flex">
                        
                        <span class="table-sr-no">1.22</span><span> Is this a Shift School?</span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center radio-location-type">
                        <mat-radio-group name="shift_school" class="d-flex w-100">
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="Yes" value="Yes">Yes</mat-radio-button>
                          </div>
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="No" value="No">No</mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>
                      
                     
                      
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <span class="table-sr-no">1.23</span> Is this a Residential School?
                    </td>
                    <td>
                      <mat-select >
                           <mat-option [value]="1"> Select</mat-option>
                           <mat-option [value]="1"> 1 - Completely Residential</mat-option>
                           <mat-option [value]="1"> 2 - Partially Residential</mat-option>
                           <mat-option [value]="1"> 3 - Non-Residential</mat-option>
                     
                      </mat-select>
                     
                    </td>
                  </tr>
  
                  <!-- <tr>
                    <td>
                      <span class="table-sr-no"></span> <b class="ms-3">If 1-Completely Residential / 2-Partially Residential </b>
                      <span class="table-sr-no"></span> <b class="ms-3">
                        (a) Type of Residential school</b>
                    </td>
                    <td>
                     <mat-select >
                           <mat-option [value]="1"> Select</mat-option>
                           <mat-option [value]="1"> 1 - Completely Residential</mat-option>
                           <mat-option [value]="1"> 2 - Partially Residential</mat-option>
                           <mat-option [value]="1"> 3 - Non-Residential</mat-option>
                     
                      </mat-select>
                    </td>
                  </tr> -->
  
                  <tr>
                    <td >
                      <div class="d-flex">
                        
                        <span class="table-sr-no">1.24</span><span>Is this a minority managed school?</span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center radio-location-type">
                        <mat-radio-group name="minority_managed_school" class="d-flex w-100">
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="Yes3" value="Yes">Yes</mat-radio-button>
                          </div>
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="No3" value="No">No</mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>                      
                     
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <span class="table-sr-no"></span> <b class="ms-3">If 1-Yes, Type of Minority Community managing the school</b>
                    </td>
                    <td>
                     <mat-select >
                           <mat-option [value]="0"> Select</mat-option>
                           <mat-option [value]="1"> Muslim</mat-option>
                           <mat-option [value]="2"> Sikh</mat-option>
                           <mat-option [value]="3"> Jain</mat-option>
                           <mat-option [value]="4"> Christian</mat-option>
                           <mat-option [value]="5"> Parsi</mat-option>
                           <mat-option [value]="6"> Buddhist</mat-option>
                           <mat-option [value]="7"> Linguistic</mat-option>
                           <mat-option [value]="8"> Linguistic Minority</mat-option>
                      </mat-select>
                    </td>
                  </tr> -->
  
                  <tr>
                    <td >
                      <div class="d-flex">
                        
                        <span class="table-sr-no">1.25</span><span> Are majority of the pupils taught through their mother tongue at the Primary level?</span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center radio-location-type">
                        <mat-radio-group name="mother_tongue_at_the_Primary_level" class="d-flex w-100">
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="Yes4" value="Yes">Yes</mat-radio-button>
                          </div>
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="No4" value="No">No</mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>                      
                     
                      
                    </td>
                  </tr>
                  <tr>
                    <td >
                      <div class="d-flex">
                        
                        <span class="table-sr-no">1.26</span><span> Does the school run any skill training centre after school hours?</span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center radio-location-type">
                        <mat-radio-group name="skill_training_centre" class="d-flex w-100">
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="Yes5" value="Yes">Yes</mat-radio-button>
                          </div>
                          <div class="d-flex align-items-center w-50">
                            <mat-radio-button id="No5" value="No">No</mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>
                      
                     
                    </td>
                  </tr>
  
                  <tr>
                    <td colspan="2" class="">
                      <div class="d-flex">
    
                        <span class="table-sr-no">1.27</span> <span>Distance* of the school (in km.) from the nearest Govt./ Govt. Aided school ( for example2.6)</span>
                      </div>
                    </td>
                   
                  </tr>
                  <tr>
                    <td class="child ">
                      <div class="d-flex">
                        <span class="table-sr-no">(a)</span> From Primary School/Section
                      </div>
                    </td>
                    <td>
                      <input matInput 
                        type="number"
                        name="distance_from_primaray_school"
                        placeholder=""
                        value=""
                      />
                    </td>
                  </tr>
  
                  <tr>
                    <td class="child ">
                      <div class="d-flex">
                        <span class="table-sr-no">(b)</span> From Upper primary School/Section
                      </div>
                    </td>
                    <td>
                      <input matInput 
                        type="number"
                        name="distance_from_upper_primaray_school"
                        placeholder=""
                        value=""
                      />
                    </td>
                  </tr>
                   
  
                  
                 
                   <!-- 1.26 to 1.36   end -->
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              
              <table class="w-100">
                <tbody>
                  
                  <tr>
                    <td class="child ">
                      <div class="d-flex">
                        <span class="table-sr-no">(c)</span> From Secondary School/Section
                      </div>
                    </td>
                    <td>
                      <input matInput 
                        type="number"
                        name="distance_from_secondary_school"
                        placeholder=""
                        value=""
                      />
                    </td>
                  </tr>
                      <tr>
                        <td class="child ">
                          <div class="d-flex">
                            <span class="table-sr-no">(d)</span> From Higher Secondary School/Junior college
                          </div>
                        </td>
                        <td>
                          <input matInput 
                            type="number"
                            name="distance_from_higher_secondary_school"
                            placeholder=""
                            value=""
                          />
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <span class="text-danger">*</span> Distance is defined as walking distance after discounting for all natural and man-made barriers on the way to the school like highways, train lines etc.
                        </td>
                      </tr>
      
                    <tr>
                        <td >
                          <div class="d-flex">
                            
                            <span class="table-sr-no">1.28</span><span>Whether School is Approachable by All-Weather Roads?</span>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center radio-location-type">
                            <mat-radio-group name="whether_school" class="d-flex w-100">
                              <div class="d-flex align-items-center w-50">
                                <mat-radio-button id="Yes6" value="Yes">Yes</mat-radio-button>
                              </div>
                              <div class="d-flex align-items-center w-50">
                                <mat-radio-button id="No6" value="No">No</mat-radio-button>
                              </div>
                            </mat-radio-group>
                          </div>
                          
                         
                        </td>
                      </tr>
                      <tr>
                        <td >
                          <div class="d-flex">
                            
                            <span class="table-sr-no">1.29</span> <span>Number of instructional days (in previous academic year)</span>
                          </div>
                        </td>
                        <td>
                          <input matInput 
                            type="text"
                            name="number_of_instructional_days"
                            placeholder=""
                            value=""
                          />
                        </td>
                      </tr>
                      <!-- <tr>
                        <td colspan="2">
                          <span class="table-sr-no"></span> <b class="ms-3">If CCE being implemented then</b>
                        </td>
                        
                      </tr>
                      <tr>
                        <td >
                          <div class="d-flex">
                            
                             <span class="ms-3"><span class="table-sr-no pe-2">(a)</span>Are cumulative records of pupil being maintained? If Yes,</span>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center radio-location-type">
                            <div class="d-flex align-items-center w-50">
                              <input matInput id="Yes9" type="radio" name="" value="Yes" />
                              <label for="Yes9" class="d-block w-100">1-Yes</label>
                            </div>
                            <div class="d-flex align-items-center w-50">
                              <input matInput id="no" type="radio" name="" value="No" />
                              <label for="no" class="d-block w-100">2-No</label>
                            </div>
                          </div>
                         
                          
                        </td>
                      </tr>
      
                      <tr>
                        <td >
                          <div class="d-flex">
                            
                            <span class="table-sr-no"></span> <span class="ms-3">Are cumulative records of pupil being shared with parents?</span>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center radio-location-type">
                            <div class="d-flex align-items-center w-50">
                              <input matInput id="Yes10" type="radio" name="" value="Yes" />
                              <label for="Yes10" class="d-block w-100">1-Yes</label>
                            </div>
                            <div class="d-flex align-items-center w-50">
                              <input matInput id="no10" type="radio" name="" value="No" />
                              <label for="no10" class="d-block w-100">2-No</label>
                            </div>
                          </div>
                         
                          
                        </td>
                      </tr>
       -->
                      <tr>
                        <td >
                          <div class="d-flex">
                            
                            <span class="table-sr-no">1.30</span><span> Is Continuous and Comprehensive Evaluation (CCE) being implemented in School? </span>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center radio-location-type">
                            <mat-radio-group name="continuous_and_comprehensive_evaluation" class="d-flex w-100">
                              <div class="d-flex align-items-center w-50">
                                <mat-radio-button id="Yes7" value="Yes">Yes</mat-radio-button>
                              </div>
                              <div class="d-flex align-items-center w-50">
                                <mat-radio-button id="No7" value="No">No</mat-radio-button>
                              </div>
                            </mat-radio-group>
                          </div>
                          
                         
                        </td>
                      </tr>
      
                      <tr>
                        <td >
                          <div class="d-flex">
                            
                            <span class="table-sr-no">1.31</span><span> Does the School take admission under Section 12 of the RTE Act(25% quota as per the RTE Act)?</span>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center radio-location-type">
                            <mat-radio-group name="admission_under_section_12" class="d-flex w-100">
                              <div class="d-flex align-items-center w-50">
                                <mat-radio-button id="Yes8" value="Yes">Yes</mat-radio-button>
                              </div>
                              <div class="d-flex align-items-center w-50">
                                <mat-radio-button id="No8" value="No">No</mat-radio-button>
                              </div>
                            </mat-radio-group>
                          </div>                          
                         
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-4 mb-2">
              <!-- <a  [routerLink]="['/my-profile']">Next</a> -->
              <a class="next-button me-2" routerLink = "/my-profile">Back</a>
              <a class="next-button me-2" >Save</a>
              <a class="next-button">Next</a>
              <!-- <button class="next-button" >Next</button> -->
            </div>
          </div>
          
        </form>
       
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>