  <div class="profileData-content">
      <h2 class="title">Schools Pending to Sync</h2>
      <button mat-button (click)="onClose()" class="close-modal"><i class="fa-solid fa-xmark"></i></button>
    <div class="container-fluid">
      <div class="shcoolDashboard">
           <mat-card class="card">
              <div class="">   
                  <table>
                      <thead>
                          <th>Form Sl. No. </th>
                          <th>DCF Serial No.</th>
                          <th>Form Name </th>
                          <th>Last Modified By Last Updated On</th>
                          <th>Status</th>
                      </thead>
                      <tbody>
                          <tr>
                              <td colspan="5">
                                  <p>Section 1- School Profile (Location, Structure, Management and Medium of Instruction)</p>
                              </td>
                          </tr>
  
                          <tr>
                              <td>1 </td>
                              <td>1.1 to 1.26</td>
                              <td>Section 1A-  Basic School Profile (Location, Management, Medium of Instruction etc)</td>
                              <td>16030600306 (SCHOOL USER) 25/07/2024</td>
                              <td>Completed</td>
                          </tr>
  
                          <tr>
                              <td>2</td>
                              <td>1.27 to 1.36</td>
                              <td>School Others Details</td>
                              <td>(SCHOOL USER) &#64; 25/07/2024</td>
                              <td>Completed</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                
          </mat-card>
      </div>
    </div>
  </div>
  
