 
  <div class="profileData-content px-2 py-5">
    <div class="container-fluid">
     
  
        <div class="row">
            <div class="col-md-9">
                <div class="shcoolDashboard">
                    <mat-card class="card">
                       <div class="">
                        
                       <h2 class="title"> COMPARISON of School Count Between School Directory & DCF Entry Module (For Academic Year 2024-25)</h2>
                           <table>
                               <thead>
                                   <th> Block Name </th>
                                   <th>Total Operational Schools(School Directory)</th>
                                   <th>Total Operational Schools(DCF Entry)</th>
                                   <th>Schools Pending to Sync(Only School Status Changes)</th>
                               </thead>
           
                               <tbody>
                                  		
                                   <tr>
                                       <td> DURGACHOWMUHANI (160306)</td>
                                       <td>80</td>
                                       <td>131</td>
                                       <td>
                                          <a (click)="openDialog()" class="view-btn">view</a>
                                       </td>
                                   </tr>
           
                                  
                               </tbody>
                           </table>

                           <h2 class="title mt-3">   DATA ENTRY STATUS OF SCHOOLS (For Academic Year 2024-25)</h2>
                           <table>
                            <thead>			
                                <th> Block Name <sup>**</sup> </th>
                                <th>Total Schools (Operational) <sup>**</sup></th>
                                <th>Need Updation</th>
                                <th>Completed</th>
                            </thead>
        
                            <tbody>
                                       
                                <tr>
                                    <td> DURGACHOWMUHANI (160306)</td>
                                    <td><a class="view-btn">80</a>
                                    </td>
                                    <td>131</td>
                                    <td>0</td>
                                </tr>
        
                               
                            </tbody>
                        </table>
                           <div class="row ">
                            <div class="col">
                              <p class="note fst-italic">(** Click on Block Name / Total Schools for List and DCF of Schools )</p> 
                            </div>
                            <div class="col d-flex align-items-center justify-content-end">
                                <p class="note-date">Data Last updated at : 22-05-2024 11:05:56</p>
                            </div>
                           </div>

                           <table>
                            <thead>			
                                <th> Operational Schools </th>
                                <th>Closed Schools</th>
                                <th>Merged Schools</th>
                                <th>Sanctioned but Not Operational</th>
                                <th>DCF Not Received</th>
                                <th>Permanently Closed</th>
                            </thead>
        
                            <tbody>
                                
                                <tr>
                                    <td> 80</td>
                                    <td>11</td>
                                    <td>19</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>9</td>
                                </tr>
        
                               
                            </tbody>
                        </table>

                           <div class="row">
                            <div class="col">
                                <p class="note">( NOTE : All Statistic Given here are updated Twice in a day. Those are Not Real Time. )</p> 
                            </div>
                            <div class="col d-flex align-items-center justify-content-end">
                                <p class="note-date">Data Last updated at : 25-07-2024 03:52:42</p>
                            </div>
                           </div>

                         </div>
                         
                   </mat-card>
               </div>
            </div>

            <div class="col-md-3">
                <mat-card class="card">
                   <div class="opreation">
                    <ul>
                        <li>Operation</li>
                        <li class="operation-link"><a>Get DCF By UDISE CODE</a> </li>
                        <li class="operation-link"> <a>Previous Data Snapshot</a> </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    Category wise School Count
                                </div>
                                <div>
                                    <a (click)="openDialog()" class="view-btn"><i class="fa-solid fa-eye"></i></a>
                                    <!-- <span class="view-eye"> </span> -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    Management wise School Count
                                </div>
                                <div>
                                    <a (click)="openDialog()" class="view-btn cursor-pointer"><i class="fa-solid fa-eye"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">Go to School Dashboard</li>
                        <li class="d-flex align-items-center justify-content-between p-0">
                            <div>
                                <input type="text" matInput placeholder="UDISE CODE" class="form-control">
                            </div>
                            <div>
                                <button class="btn btn-primary">Go</button>
                            </div>
                        </li>
                        
                    </ul>
                   </div>
                </mat-card>
            </div>
        </div>
      
   
   
    </div>
  </div>
  <router-outlet></router-outlet>
  