body{
    font-family: "Open Sans", sans-serif !important;
}

p, li, .mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography{
    font-family: "Open Sans", sans-serif !important;
}
a{
    text-decoration: none !important;
}

.title {
    font-size: 19px;
    font-weight: 500;
    color: #3a3a3a;
}


.profileData-content{
    padding-bottom: 100px;
    .card{
        padding: 17px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        border: 0;
    }
    
    .note{
        font-size: 14px;
        color: #ff0000;
        letter-spacing: 0.8px;
        padding: 20px 0;
        line-height: 1.5;
        margin: 0;
        span.round-button {
            color: #5135c5 !important;
            border: 1px solid #5135c5 !important;
            border-radius: 13px;
            padding: 3px 10px;
            font-weight: 600;
            font-size: 15px;
        }
    }
    table{
        .table-sr-no{
            color: #4743c9;
            font-weight: 600;
            padding-right: 10px;
        }
        
        tr{
           &:not(:last-child){
                border-bottom: 1px solid #ddd;
            }
            td.child {
                padding-left: 24px !important;
            }
            td{
                padding: 15px 2px;
                line-height: 1.5;
                .mat-mdc-select-placeholder{
                    line-height: 1 !important; 
                }
                .mat-mdc-option{
                    min-height: 35px !important;
                }
                .form-label{
                    display: flex;
                }
                input, .mat-mdc-select, select{
                    border: 1px solid transparent;
                    border-bottom: 1px solid #ddd;
                    width: 100%;
                    padding: 6px 7px;
                    background: #dddddd42;
                    border-radius: 4px;
                    // text-transform: uppercase;
                    font-size: 13px;
                    transition: 0.2s;
                    line-height: 2;
                    &:focus{
                        outline: none;
                        border: 1px solid #60d3ff;
                        /* box-shadow: 0px 0px 5px #2196f3; */
                        background: #fff;
                    }
                }
                span.label-heading {
                    color: #4743c9;
                }
                .radio-location-type{
                    input{
                        width: auto;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                    label{
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
}

.w-33{width: 32% !important;}

p.note-date {
    color: #df2222;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
    font-size: 15px;
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
    font: 400 14px / 20px "Open Sans", sans-serif !important;
    letter-spacing: .0178571429em;
    font-family: "Open Sans", sans-serif !important;
}

.shcoolDashboard{
    tbody tr:nth-of-type(odd) {
        background: #f8f8f8 !important;
    }
    table tbody tr:nth-child(2n) {
        background-color: #fff !important;
    }
    table tr td {
        border-top: 0 !important;
        border-left: 1px solid #ddd !important;
        border-right: none !important;
    }
    table tbody td {
        padding: 5px 15px;
        color: #000;
        font-size: 14px;
    }
    table{
        width: 100%;
        border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
        p{
            margin: 0;
        }
        thead{
            th{
                background-color: #2b63df;
                color: #fff;
                font-size: 14px;
                padding: 13px 10px;
                border-right: 1px solid #fff;
            }
        }
       
        tbody{
            
            tr{
                td{

                }
            }
        }
    }
}

::ng-deep{
    table{
        width: 100%;
        thead{
            th{
                background-color: #2b63df;
            }
        }
        tr{
            td, th{
                padding: 10px 15px !important;
            }
            th{
                color: #fff;
            }
        }
    }
    .shcoolDashboard {
        .mat-mdc-select{
            padding: 3px 10px 4px;
        }
        .mat-mdc-select-value {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 8px;
            font-size: 14px;
            font-size: 13px;
            line-height: 1.2 !important;
        } 
    }   
}

.btn-dashboard {
    background: #4743c9;
    border: 1px solid #4743c9;
    color: #fff;
    font-weight: 500;
    padding: 8px 13px;
    border-radius: 4px;
    letter-spacing: 0.9px;
    transition: 0.3s ease-in-out;
    &:hover{
        background: #fff;
        color: #4743c9;
    }
}
ul{
    list-style: none;
}


.opreation{
    ul{
        margin: 0;
        padding: 0;
        li{
            padding: 15px 10px;
            border-radius: 3px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
           
            &:nth-child(1), &:nth-child(6){
                color: #fff;
                background-color: #4743c9;
                font-size: 16px;
                font-weight: 600;
            }
            &:nth-child(4), &:nth-child(5){
                background-color: #033070;
                color: #fff;
            }
        }
    }
    .operation-link{
        background-color: #e7e7e7;
        font-weight: 500;
        text-decoration: underline;
    }
}

.view-btn {
    background: #033070;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}