<div class="my-profile-data-summay">
    <div class="container-fluid">
     <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <p class="m-0 fw-bold"> Block  : <span class="value"><a>DURGACHOWMUHANI</a></span></p>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button  type="button" class="btn-dashboard">Block Dashboard</button>
        </div>
     </div>
    </div>
  </div>
  
  <div class="profileData-content px-2">
    <div class="container-fluid">
        <div class="card">
            
          <div class="breadcrumb">
            <ul>
                <li><a>State Name</a></li>
                <li><a>District Name</a></li>
                <li><a>Block Name</a></li>
                <li>DURGACHOWMUHANI</li>

            </ul>
         </div>
                <!-- <mat-card-header>
                  <mat-card-title>School Data</mat-card-title>
                </mat-card-header> -->
               
                <mat-card-content>

                    <div class="controls-container">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="page-size-container d-flex align-items-center gap-3">
                                    <label>Items per page</label>
                                    <select (change)="changePageSize($event)" class="form-control w-auto">
                                      <!-- <option [value]="undefined" disabled selected>Select items per page</option> -->
                                      <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">
                                        {{size}}
                                      </option>
                                    </select>

                                  </div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <div class="search-container d-flex align-items-center gap-3">
                                    <label for="">Search</label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search elements" class="form-control w-auto">

                                  </div>
                            </div>
                        </div>
                       				
                      </div>
                      <table mat-table [dataSource]="dataSource" matSort class="">
                        <ng-container matColumnDef="position" class="">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Sr No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                        <ng-container matColumnDef="school_Name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>  School Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.school_Name}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="UDISE_Code">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> UDISE Code </th>
                          <td mat-cell *matCellDef="let element"> {{element.UDISE_Code}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="school_Category">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> School Category </th>
                          <td mat-cell *matCellDef="let element"> {{element.school_Category}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="school_Management">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> School Management </th>
                          <td mat-cell *matCellDef="let element"> {{element.school_Management}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>
                        <ng-container matColumnDef="last_Modified">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
                          <td mat-cell *matCellDef="let element"> {{element.last_Modified}} </td>
                        </ng-container>
                        <ng-container matColumnDef="data_entry">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Entry (Active/In-Active)</th>
                          <td mat-cell *matCellDef="let element"> {{element.data_entry}} </td>
                        </ng-container>
                  
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
                     
                </mat-card-content>
            
              
          </div>
          
  
     
   
   
    </div>
  </div>
 