<div class="my-profile-data-summay">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <ul class="SchoollDetails">
          <li>
            <p>
              School :
              <span class="value"><a href="#">Abhoynagar English Medium School Pry</a></span>
            </p>
          </li>
          <li>
            <p>Category : <span class="value">1 - Primary</span></p>
          </li>
          <li class="d-flex">
            <div>
              <p>UDISE+ Code : <span class="value">16020801111</span></p>
              <p><span class="value"> </span></p>
            </div>

          </li>
          <li></li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="">
          <ul class="data-capture">
            <p class="d-inline-block">Data Capture Format :</p>

            <li class="active">
              <a href="#"> 1.1 to 1.25</a>
            </li>

            <li>
              <a href="#"> 1.26 to 1.36</a>
            </li>


            <li class="class6">
              <a href="#">1.55.1 to 1.55.20</a>
            </li>

            <li class="class6">
              <a href="#"> 1.56 to 1.59</a>
            </li>

            <li>
              <a href="#">2.1 to 2.6</a>
            </li>

            <!-- <li>
              <a href="#"> 2.7 to 2.19</a>
            </li>

            <li>
              <a href="#">2.20 to 2.23</a>
            </li>

            <li>
              <a href="#">2.24 to 2.28</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12  mt-2">
        <div class="d-flex">
          <div class="  ">
            <button type="button" class="btn-dashboard">Back to Dashboard</button>
          </div>
          <!-- <button type="button" class="btn-dashboard">State Dashboard</button> -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="profileData-content px-2">
  <div class="container-fluid">
   

    <div class="shcoolDashboard">
         <mat-card class="card">
            <div class="">
            <!--    <table mat-table >
              
                 
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Form Sl. No. </th>
                    <td mat-cell *matCellDef="let element"> column 1 </td>
                  </ng-container>
              
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> DCF Serial No. </th>
                    <td mat-cell *matCellDef="let element"> column 2</td>
                  </ng-container>
              
                  
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Form Name </th>
                    <td mat-cell *matCellDef="let element">  column </td>
                  </ng-container>
              
                  
                  <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Last Modified By Last Updated On </th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>

                  <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Status</th>
                    <td mat-cell *matCellDef="let element">  </td>
                  </ng-container>
              
                  <tr mat-header-row ></tr>
                  <tr mat-row ></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator> -->

                <div class="shoolDashboardTableInfo">

                    <div class="row mb-3">
                        <div class="col-md-3">

                            <div class="form-group">
                                <label for="localeLang" class="me-2">Select Language</label>
                                <select name="appLocale" id="localeLang" class="form-control d-inline-block w-auto">
                                    <option value="en">English</option>
                                    <option value="hi">Hindi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9">

                        </div>
                    </div>
                </div>
                				
                <table>
                    <thead>
                        <th>Form Sl. No. </th>
                        <th>DCF Serial No.</th>
                        <th>Form Name </th>
                        <th>Last Modified By Last Updated On</th>
                        <th>Status</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="5">
                                <p>Section 1- School Profile (Location, Structure, Management and Medium of Instruction)</p>
                            </td>
                        </tr>

                        <tr>
                            <td>1 </td>
                            <td>1.1 to 1.26</td>
                            <td>Section 1A-  Basic School Profile (Location, Management, Medium of Instruction etc)</td>
                            <td>16030600306 (SCHOOL USER) 25/07/2024</td>
                            <td>Completed</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>1.27 to 1.36</td>
                            <td>School Others Details</td>
                            <td>(SCHOOL USER) &#64; 25/07/2024</td>
                            <td>Completed</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              
        </mat-card>
    </div>
 
 
  </div>
</div>
<router-outlet></router-outlet>
