<app-header></app-header>

<div class="login-container">
  <div class="container">
    <div class="login-form d-flex justify-content-center align-items-center">
      <div>
        <div class="row">
          <div class="col-md-12">
            <span class="Line50"></span>
            <span class="Line40"></span>
            <span class="Line25"></span>
          </div>
          <div class="col-md-7 col-sm-12 patternback BackImage bg-white d-flex align-items-center border-end">
            <div class="">
              <div class="carBbackCenter position-relative px-4">
                <h2 class="SchoolFacility">
                  School Profile &amp; Facilities Management
                </h2>
                <span class="Line566"></span>
                <p class="mb-4">
                  <span class="text-Note font-18 font-weight-bold">Note :</span>
                  <span>UDISE code of the school is the Username. Password will be provided by the Block MIS
                    coordinator.</span>
                </p>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <a href="https://udiseplus.gov.in/ud/home?loginId=1" target="_blank"
                      class="btnGk buttonSet loginBox login241">UDISE+ School Management</a>
                  </div>
                  <div class="col-md-6 mb-3">
                    <a href="https://udiseplus.gov.in" target="_blank" class="btnGkGreen buttonSet loginBox login242">Go
                      to UDISE+ Home Page</a>
                  </div>
                  <div class="col-md-6 mb-3">
                    <a href="https://udiseplus.gov.in/udiseprofile/" target="_blank"
                      class="btnGkGreen buttonSet loginBox login242">Go to UDISE+ Profile Module</a>
                  </div>
                  <div class="col-md-6 mb-3">
                    <a href="https://udiseplus.gov.in/udiseteacher/" target="_blank"
                      class="btnGk buttonSet loginBox login241">Go to UDISE+ Teacher Module</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 bg-white pt-4 pb-4">
            <form id="loginForm" name="loginForm"
              action="/udiseprofile/userlogin.action;jsessionid=B30D91171D4E29F83252E41C5BCDDCF0" method="post"
              autocomplete="off" class="m-b-40" [formGroup]="loginForm">
              <div class="auth-box px-4">
                <h3 class="logintitle207">Login for DCF Data Entry and Monitor</h3>

                <mat-form-field class="input-group">
                  <mat-label>User Name:</mat-label>
                  <input matInput placeholder="Enter Your User Name" formControlName="userName" />
                </mat-form-field>

                <mat-form-field class="input-group">
                  <mat-label>Password:</mat-label>
                  <input matInput type="password" placeholder="Enter Your Password" formControlName="password" />
                </mat-form-field>

                <div class="clearfix">
                  <div class="float-start">
                    <label class="float-label">Captcha: </label>
                  </div>
                  <div class="float-end">
                    <label id="captcha-error" class="error" for="captcha"></label>
                  </div>
                </div>
                <div class="row">
                  <ul class="cap">
                    <li>
                      <div id="wwgrp_captcha" class="wwgrp">
                        <div id="wwctrl_captcha" class="wwctrl">
                          <input type="text" name="captcha" formControlName="captcha" maxlength="6" id="captcha"
                            class="form-control noSpace form-control-sm" />
                        </div>
                      </div>
                    </li>
                    <li>
                      <span>{{ captcha }}</span>
                    </li>
                    <li>
                      <mat-icon (click)="refreshCaptcha()" aria-hidden="false"
                        aria-label="Refresh Captcha">refresh</mat-icon>
                    </li>
                  </ul>
                </div>

                <div class="btnLogin">
                  <div class="formButton" id="wwctrl_testabc">
                    <input type="submit" value="Login" id="testabc" class="btnGk1 buttonSet loginBox login242"
                      (click)="validateCaptcha()" />
                  </div>
                </div>
                <div class="clearfix auth-link">
                  <div class="float-start mt-2">
                    <a href="#" class="waves-effect waves-dark"><span class="pcoded-mtext">Forgot Password</span></a>
                  </div>
                  <div class="float-end mt-2">
                    <a href="#" class="waves-effect waves-dark text-danger"><span class="pcoded-mtext">Login with
                        Other</span></a>
                  </div>
                  <div class="float-end mt-2"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>