<footer>
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="d-flex align-items-center">
					<div class="flex-shrink-0">
						<img src="../../../assets/emblem.png" height="40px" class="align-self-start mr-2 mt-1" alt="..." />
					</div>
					<div class="flex-grow-1 ms-3">
						<p class="text-white">
							Department of School Education &amp; Literacy,
							<br />
							Ministry of Education, Government of India
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 d-flex justify-content-end">
				<div class="d-flex align-items-center">
					<div class="flex-shrink-0">
						<img src="../../../assets/logogk.png" width="100px" class="align-self-start mr-2 mt-2" alt="..." />
					</div>
					<div class="flex-grow-1 ms-3">
						<p class="text-white">
							This site is designed, developed, maintained and
							<br />
							hosted by National Informatics Centre (NIC)
						</p>
						<p class="text-white">v02.1007.2024 from f0a258dcd07f</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
