/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
    font: 400 14px / 14px "Open Sans", sans-serif !important;
    letter-spacing: .0178571429em;
    // font-family: "Open Sans", sans-serif !important;
}

.form-control {
    font-size: 14px !important;
    option{
        font-size: 14px !important;
    }
}
