<div class="my-profile-data-summay">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div>
          <p>
            <span class="summary-title">School :</span>
            <span class="summay-value"> Akshay Gupta School</span>
          </p>
        </div>
      </div>
      <div class="col-md-9 d-flex justify-content-end">
        <div>
          <ul class="gap-5">
            <li>
              <span class="summary-title">UDISE+ Code :</span>
              <span class="summay-value"> 16030600306</span>
            </li>
            <li>
              <span class="summary-title">Category :</span>
              <span class="summay-value">
                3 - Pr. with Up.Pr. sec. and H.Sec.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashbaord">
  <div class="container">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div>
        <h1 class="title">User Role : <span class="value"> School User with DCF Entry Permission</span></h1>
        <div class="row d-flex">
          <div class="col-md-8">
            <div class="row d-flex">
              <div class="col">
                <mat-card>
                  <div class="dashboard-card">
                    <a>
                      <img
                        src="../../../../assets/download-new.png"
                        alt="documentsIoco"
                      />
                      <h4>Download Prefilled DCF (English)</h4>
                    </a>
                  </div>
                </mat-card>
              </div>

              <div class="col">
                <mat-card>
                  <div class="dashboard-card">
                    <!-- <a routerLink="/dashboardSchool"> -->
                    <a>
                      <img
                        src="../../../../assets/dash3.png"
                        alt="documentsIoco"
                      />
                      <h4>Profile & Facility</h4>
                    </a>
                  </div>
                </mat-card>
              </div>
              <div class="col">
                <mat-card>
                  <div class="dashboard-card">
                    <a>
                      <img
                        src="../../../../assets/teacher-icon.png"
                        alt="documentsIoco"
                      />
                      <h4>Teacher</h4>
                    </a>
                  </div>
                </mat-card>
              </div>
              <div class="col">
                <mat-card>
                  <div class="dashboard-card">
                    <a>
                      <img
                        src="../../../../assets/teacher-icon.png"
                        alt="documentsIoco"
                      />
                      <h4>Student</h4>
                    </a>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="col-md-4 py-3  dcf-zip1">
            <mat-card class="h-100">
              <div class="dashboard-card dcf-zip">
                <a>
                  <img
                    src="../../../../assets/blockImage.jpg"
                    alt="documentsIoco"
                  />
                  <h4>Block/District MIS</h4>
                </a>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
